/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto;
    
}

h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.input-field {
    margin-bottom: 10px;
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input, textarea {
    width: calc(100% - 16px);

    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
