body{
    background-color: blanchedalmond;
}
.external-style {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
}
.something{
    margin-left: 0;
    padding: 20px;
    color: rgb(190, 0, 0);
    border: 4px dotted crimson;
}